{% block content %}

<div class="content">
    <div class="message shadow">
        <h3>Archisense.com has evolved!</h3>
        <p>I have moved my work and projects to <a href="http://qaidjacobs.com" title="Archisense is now QaidJacobs.com">QaidJacobs.com</a>. Check it out and let me know what's on your mind.</p>
    </div>
</div>

{% endblock %}